/* -------------------------------Products--------------------- */
.main-container{
    margin: 34px 89px 0 57px; 
    position: relative;
    /* overflow: auto; */
}
.products-container{
    /* display: flex; */
    align-items: center;
}
.products-row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: .75rem 0;
  padding: 0 0 60px 0;
}
.products-header{
    text-align: left;
}
.card {
  /* max-width: 33.333%; */
    padding: .75rem;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 366px;
    text-align: left;
    border-radius: 10px;
    filter: drop-shadow(8px 0px4px  rgba(0,0,0,0.25));
    float: left;
    width: 33.333%;
    margin: 0 17px;  
}
  .card img{
    /* width: 366px;.. */
  }
  .card .container{
    padding: 0 16px;
  }
  .container h4{
    /* width: 253px; */
    overflow-x: hidden;
    font-size: 16px;
    line-height: 32px;
    margin: 12px 0;
  }
  .product-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-data .price{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .price h2, .price h3{
    margin: 0 10px;
  }
  .price h3 span{
    text-decoration: line-through;    
    color: #444;
}
  .container button{
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    height: 43px;
    color: #fff;
    background-color: #23A6F0;
    border-radius: 10px;
    margin-top: 16px;
    border: none;
    margin-top: 20px;
  }
  .container button{
    cursor: pointer;
    
  }
  .container button:active{
    background-color: forestgreen;
  }
  .ratings{
    display: flex;
  }
  .ratings svg{
    width: 18px;
  }
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
  } */

/* ------------------------Footer---------------------- */
