/* ---------------------Header----------------- */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.container-fluid{
    margin: 34px 89px 0 59px;
    /* background-color: aqua; */
    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
    /* width: 1292px; */
    /* width: 100%; */
    border-radius: 20px;
    height: 622px;
    position: relative;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 206px;
}
.row .col-1{
   display: flex;
   width: 40%;
   flex-direction: column;
   text-align: start;
   justify-content: center;
   align-items: flex-start;
    /* flex-direction: column; */
   text-align: left;
   justify-content: center;
   align-items: flex-start;
   padding: 0;
    /* gap: 30px;  */
}
.row .col-2{
    /* width: 60%; */
}
.col-1 h5{
    width: 122px;
    height: 24px;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2A7CC7;
    font-family:  sans-serif;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.col-1 h1{
    width: 548px;
    height: 80px;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
    font-family:  sans-serif;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.col-1 h4{
    width: 376px;
    height: 60px;
    top: 164px;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    font-family:  sans-serif;

    flex: none;
    order: 2;
    flex-grow: 0;
}
.col-1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px 40px; 
    margin: 20px 0;
    font-size: 24px;
    padding: 16px 0;
    gap: 10px;
    width: 221px;
    height: 62px;
    font-family:  sans-serif;
    color: #fff;
    font-weight: 700;
    background: #23A6F0;
    border-radius: 5px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.col-2{
    width: 697px;
    height: 619px;
    flex: none;
    order: 1;
    flex-grow: 0;    
    position: relative;

}
.hero-cover-1{

}
.none{
    position: absolute;
    width: 687px;
    height: 690px;
    left: 5.5px;
    top: -70px;
}
.eclipse-1{
    position: absolute;
    left: 87.38px;
    top: 488.14px;
    font-size: 700;
}
.eclipse-2{
    position: absolute;
    left: 658.46px;
    top: 183.7px;
}
.eclipse-3{
    position: absolute;
    width: 31.24px;
    height: 31.24px;
    color: aqua;
    left: 635.21px;
    top: 313.75px;
}
.eclipse-4{
    position: absolute;
    left: 62.67px;
    top: 70.35px;
}
.eclipse-5{
    position: absolute;
    left: 122.98px;
    top: 58px;
}
.none img{
    position: absolute;
    top: 55px;
    left: 9.5px;
    width: 696px;
    height: 699px;
    height: -webkit-fill-available;
    /* left: calc(50% - 696px/2 - 0.5px);  */
} 
